.idea/

/config/*.generated.sh
/completions/
/functions/JetBrains

__pycache__/

# DATA_DIR
/home/.config/configstore

# seems like this should go in CACHE_DIR
/home/.local/share/*
!/home/.local/share/espanso
/home/.local/share/espanso/*
!/home/.local/share/espanso/packages

/home/.fonts/consolas-font-for-powerline/.git
/home/.fonts/powerline-fonts/
/home/.fonts/powerline-fonts.tar.xz
