.idea/

/config/*.generated.sh
/completions/

__pycache__/

# DATA_DIR
/home/.config/configstore

# seems like this should go in CACHE_DIR
/home/.local/share/

/home/.fonts/consolas-font-for-powerline/.git
